In [1]:
import numpy as np
import pandas as pd

In [3]:
# A Series is a one dimensional DataFrame 
data = np.array ([85, 90, 70, 80])
series = pd.Series(data=data, name="marks")

print(series)

0    85
1    90
2    70
3    80
Name: marks, dtype: int64

In [4]:
# This is a Series with a one-dimesnional data values and Index
data = np.array([[25, 85],
                 [25, 90],
                 [26, 70],
                 [24, 80]])
dataframe = pd.DataFrame(data=data, columns=["age", "marks"])
print(dataframe)

   age  marks
0   25     85
1   25     90
2   26     70
3   24     80

# Method 1: Selecting a single column using the column name

In [5]:
# Load some data
import pandas as pd
from sklearn.datasets import load_wine
wine = load_wine()
df = pd.DataFrame(data=wine.data,
                  columns=wine.feature_names)
# Select the 'alcohol column'
print(df['alcohol'])
print(type(df['alcohol']))

0      14.23
1      13.20
2      13.16
3      14.37
4      13.24
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 178, dtype: float64
<class 'pandas.core.series.Series'>

# Method 2: Selecting multiple columns using the column names

In [6]:
df[['alcohol', 'ash', 'hue']]

     alcohol   ash   hue
0      14.23  2.43  1.04
1      13.20  2.14  1.05
2      13.16  2.67  1.03
3      14.37  2.50  0.86
4      13.24  2.87  1.04
..       ...   ...   ...
173    13.71  2.45  0.64
174    13.40  2.48  0.70
175    13.27  2.26  0.59
176    13.17  2.37  0.60
177    14.13  2.74  0.61

[178 rows x 3 columns]